      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      body {
        background-color: lightgoldenrodyellow;
        font-family: fantasy;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .pop{
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
      }
      .popContainer{
        width: 15rem;
        height: 15rem;
        background-color: yellow;
        border: 5px solid black;
        box-shadow: .5rem .5rem 0rem black;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
      }
      .atas ,.bawah{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .atas > p{
        font-size: 3rem;
      }
      .bawah > button{
        all: unset;
        background-color: white;
        font-size: 2rem;
        padding: 0.5rem;
        border: 2px solid black;
      }
      .bawah > button:active{
        background-color: lawngreen;
        
      }
      main {

      }
      .container {
        background-color: lightgoldenrodyellow;
        
        width: 70vw;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        border: 1px solid black;
      
      }
      .box {
        /* background-color: lightblue; */
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .txt {
        font-size: 7rem;
		  position: relative;
      }
      .jwp {
        background-color: lightgoldenrodyellow;
        border: .3rem dashed black;
        background-color: yellow;
      }

		.hide{
			display: none;
		}

		.bulat-container{
			position: absolute;
			z-index: 99;
		}

      .bulat {
        height: 15rem;
        width: 15rem;
        background-color: lightgoldenrodyellow;
        /* border-radius: 50%; */
        border: 5px solid black;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
		  position: relative;
      }

      .button {
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: yellow;
        border: 2px solid black;
        cursor: pointer;
      }

		.button:hover{
			background-color: lawngreen;
		}
		.cencel{
		  border: 2px solid black;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);		
			background-color: #fff;
			height: 4rem;
			width: 4rem;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
        cursor: pointer;
		}
		.cencel:hover{
			background-color: lightcoral
		}

		.cencel > p {
			font-size: 2rem;
		}
    .semak{
      all: unset;
      height: 3rem;
      width: 10rem;
      background-color: yellow;
      border: 5px solid black;
      font-size: 2rem;
      text-align: center;
      box-shadow: .5rem .5rem 0rem black;
      transition: all 0.05s ease-in-out;
    }
    .semak:active{
      background-color: lawngreen;
      box-shadow: .2rem .2rem 0rem black;
    }