*{padding: 0;margin: 0;box-sizing: border-box;}

body{

}
main{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.jwp{
	background-color: yellow;
	border: 3px dashed black;
}
.jwp:active{
	background-color: lawngreen;
}
.soalanContent{
	/* background-color: yellow; */
	width: 50rem;
	height: 10rem;
	display: flex;
	position: relative;
}
.border{
	border: 3px solid black;
	box-shadow: .5rem .5rem 0rem black;
}
.box{
	height: 100%;
	width: 10rem;
	/* border: 1px solid black; */
	display: flex;
	align-items: center;
	justify-content: center;
}
.boxTxt{
	font-size: 3rem;
}
.buttonCheck{
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.buttonCheck > button{
	all: unset;
	height: 3rem;
	width: 10rem;
	background-color: yellow;
	display: grid;
	place-content: center;
	border: 3px solid black;
	box-shadow: .5rem .5rem 0rem black;
	transition: all 0.05s ease-in;
}
.buttonCheck > button:active{
	background-color: lawngreen;
	box-shadow: .25rem .25rem 0rem black;
}
.buttonCheck > button > p{
	font-size: 1.5rem;
}
.pilihanContainer{
	position: absolute;
}
.pilihanContent{
	background-color: yellow;
	height: 15rem;
	width: 15rem;
	border: 1px solid black;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(2,1fr);

	position: relative;
}
.pilihan{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	cursor: pointer;
}
.pilihan p{
	font-size: 2rem;
}
.pilihan:active{
	background-color: lightgreen;
}
.cencelBtn{
	position: absolute;
	font-size: 2rem;
	width: 3rem;
	height: 3rem;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid black;

	display: flex;
	align-items: center;
	justify-content: center;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	cursor: pointer;
}
.cencelBtn > p{
}
.cencelBtn:active{
	background-color: lightcoral;
}
.popBack{
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 50;
	display: grid;
	place-content: center;
}
.popContent{
	width: 20rem;
	height: 15rem;
	background-color: #fff;
	display: grid;
	grid-template-rows: repeat(2,1fr);
}
.popTxt,.popBtn{
	display: grid;
	place-content: center;
}
.popTxt > p {
	font-size: 3rem;
}
.popBtn > button{
	all: unset;
	font-size: 1.5rem;
	background-color: #fff;
	border:  2px solid black;
	padding: 0.5rem;
}
.popBtn > button:active{
	background-color: lightgreen;
}
.hide{
	display: none;
}
.header{
	position: absolute;
	/* background-color: yellow; */
	top: 10%;
	padding: 0.5rem;
}
.header h1,.footer h1 {
	font-size: 1.5rem;
	/* background-color: yellow; */
}
.footer{
	position: absolute;
	/* background-color: yellow; */
	bottom: 10%;
	padding: 0.5rem;
}
@media screen and (max-width: 500px) {
	main{
		background-color: lemonchiffon;
	}
	.soalanContent{
		width: 100vw;
		height: 5rem;
	}
	.buttonCheck > button{
		height: 1.5rem;
		width: 5rem;
	}
	.buttonCheck > button > p{
		font-size: 1rem;
	}
	.pilihanContent{
		width: 10rem;
		height: 10rem;
	}
}